@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(background.jpg);
    background-size: cover;
    height: 100vh;
}
header{
    background-color: rgba(0, 0, 0, 0.593);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
main{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    color: #fff;
    height: 60%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.285);
    backdrop-filter: blur(15px);
}
form{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
    color: #fff;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.button{
    height: 40px;
    width: 150px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}